@import '../config/variables.scss';

header {
    background: $colorBgDark;
    padding: 1rem 0;
    max-width: 100%;

    .hamburger-btn {
        background: $colorTextPrimary;
    }



    .nav-link {
        @include link;
        @include title;
        font-size: 1.5rem;
        letter-spacing: 2px;
        &:hover {
            color: $colorBgSecondary;
        }
    }
}