// * {
//     border: 1px dotted pink;
// }
@import 'config/reset.scss';
@import 'config/variables.scss';
@import 'header/header.scss';
@import 'hero/hero.scss';
@import 'skills/skills.scss';
@import 'projects/projects.scss';
@import 'services/services.scss';
@import 'contact/contact.scss';

body {
    background-color: $colorBgPrimary;
    color: $colorTextPrimary;

}

.section {
    &-title {
        @include title;
    }
    &-text {
        @include text;
        color: $colorTextSecondary;
    }
    &-item-title {
        @include title;
        font-size: 2em;
        font-weight: normal;
    }
    &-item-text {
        @include text;
        font-size: 1.25em;
    }
}