@import '../config/variables.scss';

#projects {
    @include section-colored;

    a {
        text-decoration: none;
        color: $colorTextDark;
        
        .section-text {
            font-size: 16px;
        }
        
        img {
            transition: all ease .2s;
            min-height: 135px;
            border-radius: 8px;
            margin-bottom: 16px;
            &:hover {
                box-shadow: 0 0 10px  #000;
            }
        }
    }
}