@import '../config/variables.scss';

#projects {
    @include section-colored;

    a {
        text-decoration: none;
        color: $colorTextDark;
        
        .section-text {
            font-size: 16px;
        }
        
        img {
            transition: all ease .2s;
            height: 170px;
            &:hover {
                transform: scale(1.02);
            }
        }
    }
}