/* Colors */
$colorBgPrimary: #172774;
$colorBgSecondary: #FF0075;
$colorBgDark: #0d1746;
$colorBtn: #77D970;
$colorTextPrimary: #eeeeee;
$colorTextSecondary: #eeeeeeda;
$colorTextDark: #000;

/* Breakpoints */

/* Fonts */

$fontPrimary: 'Chakra Petch', sans-serif;
$fontSecondary: 'Space Grotesk', sans-serif;

/* Mixins */

@mixin title {
    font-family: $fontPrimary;
    font-size: 5em;
    font-weight: bold;
};
@mixin text {
    font-family: $fontSecondary;
    font-size: 1.25em;
}

@mixin link {
    color: $colorTextPrimary;
    margin: 0 0.4rem;
}

@mixin section-colored {
    background-color: $colorBgSecondary;

    color: $colorTextDark;

    .section-text {
        color: $colorTextDark;
    }
}

@mixin btn {
    background-color: $colorBtn;
        padding: 16px;
        width: 90%;
        margin: 0 auto;
        border-radius: 12px;
        font-family: $fontPrimary;
        font-weight: bold;
        display: block;
        
        &:hover {
            cursor: pointer;
            color: $colorTextPrimary;
            background-color: darken($colorBtn, 25%);
        }
}