@import '../config/variables.scss';

#hero {

    .section-text {
        padding-bottom: 4px;
    }
    button {
        background-color: $colorBtn;
        padding: 16px;
        width: 90%;
        margin: 0 auto;
        border-radius: 12px;
        font-family: $fontPrimary;
        font-weight: bold;
        display: block;
        
        &:hover {
            cursor: pointer;
            color: $colorTextPrimary;
            background-color: darken($colorBtn, 25%);
        }
    }
    img {
        max-width: 90%;
        margin: 0 auto;
        border-radius: 32px 0 32px 32px;
    }
}
