@import '../config/variables.scss';

#hero {
    
    .section-text {
        padding-bottom: 4px;
    }
    button {
        @include btn;
    }
    img {
        max-width: 90%;
        margin: 0 auto;
        border-radius: 32px 0 32px 32px;
    }
}
